@keyframes moveGhosty {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-ghosty {
    animation: moveGhosty 4s infinite ease-in-out !important;
  }
  
  .fade-in {
    animation: fadeIn 1.5s ease-in-out !important;
  }